# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Build results
*.dll
*.exe
*.pdb

# NuGet
*.nupkg
packages/
.nuget/

# Publish
publish/
wwwroot/

# Rider / VS Code
.idea/
.vscode/
