<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/devices">Device Manager</a>
  </div>

  <div class="navbar-links">
    <ng-container *ngIf="isLoggedIn(); else notLoggedIn">
      <a routerLink="/devices">Devices</a>
      <a routerLink="/profile">Profile</a>
      <button (click)="logout()">Logout</button>
    </ng-container>

    <ng-template #notLoggedIn>
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </ng-template>
  </div>
</nav>